---
layout: default
---
<div class="card-wrapper">
  <div class="card">
    {{ content }}
  </div>
  <hr>
  <ul class="nav unadorned">
    <li class="sans-serif"><a class="unadorned" href="/">Home</a></li>
    <li class="sans-serif"><a class="unadorned" href="/details/">Details</a></li>
    <li class="sans-serif"><a class="unadorned" href="/stay/">Stay</a></li>
    <li class="sans-serif"><a class="unadorned" href="/registry/">Registry</a></li>
    <li class="sans-serif"><a class="unadorned" href="/rsvp/">RSVP</a></li>
  </ul>
</div>
